<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.media2mqtt</string>
    <key>ProgramArguments</key>
    <array>
        <string>__VENV_PYTHON__</string>
        <string>__INSTALL_DIR__/main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__INSTALL_DIR__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>MQTT_HOST</key>
        <string>__MQTT_HOST__</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__INSTALL_DIR__/media2mqtt.log</string>
    <key>StandardErrorPath</key>
    <string>__INSTALL_DIR__/media2mqtt.log</string>
</dict>
</plist>
